<!DOCTYPE html>

<html lang="en">
<head>
  <title>Customize Redes de Fibra Óptica</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
</body>
<script src="{% static 'js/bb.js' %}"></script>
</html>
<!-- 
 <form action="/boaform/admin/formStatus" method="POST" name="status">
  
  
  
    <input type="hidden" value="/admin/status.asp" name="submit-url">
    <input type="submit" value="Atualizar" name="refresh">&nbsp;&nbsp;
    
    <input type="button" value="Modify" name="modify" onClick="modifyClick('/admin/date.asp')">
    </form>  -->